// Include any default variable overrides here (though functions won't be available)
$primary: #42b983;
$body-color: #304455;
$info: #73abfe;
$gray-100: #f6f6f6;
$text-muted: #4e6e8e;
$gray-900: #273849;
$dark: #273849;

// Jeg får røde streker under disse hvis jeg ikke har node_modules foran?
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-icons/font/bootstrap-icons.css';