// Include any default variable overrides here (though functions won't be available)
$primary: #002868;
$info: #0F7B47;
$success: #288251;
$light: #F2F2F2;
$secondary: #E6EAF0;
$body-bg: white;
//$body-bg: #E6EAF0;
//$body-bg: #F2F2F2;
$body-color: $primary;
$dark: #273849;

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-icons/font/bootstrap-icons.css';